# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDfukNhzfxmD-YERtQE7rPBLjR4ndNe1gs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=raiot-web-portal.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=raiot-web-portal
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=raiot-web-portal.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=735197365563
NEXT_PUBLIC_FIREBASE_APP_ID=1:1:735197365563:web:5164cea5d2d2fd298de31e


