@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 0%;
        --foreground: 0 0% 100%;

        --card: 0 0% 3%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 3%;
        --popover-foreground: 0 0% 100%;

        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 40% 98%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 263.4 70% 50.4%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        background-color: #000000 !important;
    }

    /* Hide default scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    html {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@keyframes glitch-snap {
    0% {
        transform: scale(0.9) scaleY(0.1);
        opacity: 0;
        filter: blur(5px);
    }

    20% {
        transform: scale(1) scaleY(1.5);
        opacity: 1;
        filter: blur(0px);
    }

    40% {
        transform: skewX(-20deg) scaleY(0.9);
        filter: brightness(2);
    }

    60% {
        transform: skewX(20deg) scaleY(1.1);
    }

    80% {
        transform: skewX(0deg) scaleY(1);
        filter: brightness(1.2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}